<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-xs="column" layout-wrap class="drag-container" dragula='"drag-analytics-container"'>
        <counter-widget flex flex-sm="50" title="Comments" count="vm.data.social.comments" icon="fa fa-comments" background="deep-orange-500" color="white"></counter-widget>
        <counter-widget flex flex-sm="50" title="Tweets" count="vm.data.social.tweets" icon="fa fa-twitter"  background="light-blue-400" color="white"></counter-widget>
        <counter-widget flex flex-sm="50" title="Likes" count="vm.data.social.likes" icon="fa fa-facebook"  background="blue-900" color="white"></counter-widget>
        <counter-widget flex flex-sm="50" title="Pageviews" count="vm.data.social.pageviews" icon="fa fa-eye"  background="green-700" color="white"></counter-widget>
    </div>
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget chartjs-line-widget title="Pageviews & Visits" subtitle="11/03/15 - 11/4/15" content-layout="row" content-padding>
            <canvas flex class="chart-line" chart-data="lineChart.data" chart-labels="lineChart.labels" chart-legend="true" chart-series="lineChart.series" chart-options="lineChart.options"></canvas>
        </tri-widget>
        <tri-widget chartjs-pie-widget title="Network Referrals" subtitle="11/03/15 - 11/4/15" content-padding>
            <canvas flex class="chart-pie" chart-data="pieChart.data" chart-legend="true" chart-labels="pieChart.labels"></canvas>
        </tri-widget>
    </div>
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget flex load-data-widget="{ referrals: 'app/examples/dashboards/data/referrals.json' }" title="Referral Traffic" subtitle="11/03/15 - 11/4/15" content-padding>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="header in ::referrals.header | limitTo:3">{{::header}}</th>
                    </tr>
                </thead>
                <tbody class="md-caption">
                    <tr ng-repeat="referral in ::referrals.data | limitTo:5">
                        <td ng-repeat="data in ::referral | limitTo:3">{{::data}}</td>
                    </tr>
                </tbody>
            </table>
        </tri-widget>
        <tri-widget flex load-data-widget="{ social: 'app/examples/dashboards/data/social.json' }" title="Network Referrals" subtitle="11/03/15 - 11/4/15" content-padding>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="header in ::social.header | limitTo:3">{{::header}}</th>
                    </tr>
                </thead>
                <tbody class="md-caption">
                    <tr ng-repeat="socialData in ::social.data | limitTo:5">
                        <td ng-repeat="data in ::socialData | limitTo:3">{{::data}}</td>
                    </tr>
                </tbody>
            </table>
        </tri-widget>
    </div>
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget google-geochart-widget flex title="Location" subtitle="11/03/15 - 11/4/15" title-position="top" content-padding>
            <div class="google-chart" google-chart chart="geoChartData"></div>
        </tri-widget>
        <tri-widget flex load-data-widget="{ social: 'app/examples/dashboards/data/location.json' }" title="Network Referrals" subtitle="11/03/15 - 11/4/15" content-padding>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="header in ::social.header | limitTo:3">{{::header}}</th>
                    </tr>
                </thead>
                <tbody class="md-caption">
                    <tr ng-repeat="socialData in ::social.data | limitTo:5">
                        <td ng-repeat="data in ::socialData | limitTo:3">{{::data}}</td>
                    </tr>
                </tbody>
            </table>
        </tri-widget>
    </div>
</div>
